.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/assets/upload/*
!application/assets/upload/index.html
!application/assets/upload/.htaccess