/* 
 * Droid Arabic Kufi (Arabic) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidKufi-Regular.woff) format('woff'),
       url(../fonts/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/DroidKufi-Bold.woff) format('woff'),
       url(../fonts/DroidKufi-Bold.ttf) format('truetype');
}

body{
	font-size: 12px;
	font-family: 'Droid Arabic Kufi', tahoma;
}

header {
	background: url(../image/footer-bg.jpg);
}

a{
	color: #82488A;
}

a:hover, a:focus{
	color: #A27EA7;
}

.btn-link, .btn-link:hover, .btn-link:focus {
	color: #82488A;
}
.page-header{
	margin-top: 20px;
}

.ajax-loader {
	margin: 40px;
}

.progress-bar{
	background-color: rgba(141, 35, 74, 0.77);
}

.text-danger,.text-danger, .text-danger:hover {
	color: #8D234A;
}
.form-control:focus{
	border-color: #A27EA7;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px #D2C7D3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px #D2C7D3;
}

.has-error .form-control:focus {
	border-color: #8D234A;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #B75E7F;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #B75E7F;
}

.has-error .form-control, .has-error .form-control:focus {
	border: 1px solid #8D234A;
}

.btn-primary {
	background-color: rgb(97, 28, 106);
	border-color: rgb(66, 1, 76);
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-group.open .dropdown-toggle.btn-primary {
	background-color: rgb(130, 72, 138);
	border-color: rgb(97, 28, 106);
}

.btn-danger {
	background-color: rgb(141, 35, 74);
	border-color: rgb(100, 0, 37);
}

.btn-danger:hover, 
.btn-danger:focus, 
.btn-group.open .dropdown-toggle.btn-danger {
	background-color: rgb(183, 94, 127);
	border-color: rgb(141, 35, 74);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus{
	background-color: #DDA6BA;
}

.site-wrapper{
	width: 1000px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

.map .site-wrapper {
	width: 1200px;
}

.user-top {
	height: 36px;
}

.user-top .btn-link {
	font-size: 11px;
}

.main {
	margin-top: 15px;
}

.site-desc .jumbotron {
	background: url(../image/syria.png) no-repeat center left;
	background-size: 300px;
	background-color: rgb(252, 252, 252);
}

.menu {
	background-color: #9586AD;
}
.menu .nav>li>a{
	color: #fff;
}
.menu .nav>li>a:hover, .menu .nav>li>a:focus{
	background: none;
	color: #fff;
}

.featured-projects .list-group-item:first-child,
.featured-projects .list-group-item:last-child{
	border-radius: 0;
}

.featured-projects .list-group-item {
	border: 0;
	border-bottom: 2px solid #ccc;
}

.featured-projects a.list-group-item.active,
.featured-projects a.list-group-item.active:hover, 
.featured-projects a.list-group-item.active:focus{
	background-color: #8D234A;
	border-color: #8D234A;
}

.featured-projects a.list-group-item.active:after, 
.featured-projects a.list-group-item.active:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.featured-projects a.list-group-item.active:after {
	border-color: rgba(141, 35, 74, 0);
	border-right-color: #8D234A;
	border-width: 8px;
	margin-top: -8px;
}

.featured-projects a.list-group-item.active:before {
	border-color: rgba(141, 35, 74, 0);
	border-right-color: #8D234A;
	border-width: 9px;
	margin-top: -9px;
}

.search-box {
	background-color: rgb(248, 248, 248);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left: 1px solid #ccc;
	min-height: 450px;
}

.search-box:after, .search-box:before {
	right: 100%;
	top: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.search-box:after {
	border-color: rgba(248, 248, 248, 0);
	border-right-color: #F8F8F8;
	border-width: 12px;
	margin-top: -12px;
}
.search-box:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #ccc;
	border-width: 13px;
	margin-top: -13px;
}

.map-holder{
	height: 450px;
}
.map-holder #map-canvas {
	width: 100%;
	height: 100%;
}

.property-list {
	border-right: 1px solid #ccc;
}
.property-list .property-item{
	background-color: #FAFAFA;
	padding: 10px;
	margin-bottom: 10px;
}

.property-list .property-item .btn-delete {
	margin-left: 10px;
}