@import url("./fonts.css");

header {
	background: url(../image/footer-bg.jpg);
}
footer {
	background: url(../image/footer-bg.jpg);
	margin-top: 10px;
}
footer .footer-logo{
	background: url(../image/foot.png) no-repeat center left;
	background-size: 210px;
	height: 100px;
}

footer .copyright{
	margin-top: 40px;
	height: 50px;
}

a{
	color: #82488A;
}

a:hover, a:focus{
	color: #A27EA7;
}

.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-link, .btn-link:hover, .btn-link:focus {
	color: #82488A;
}
.page-header{
	margin-top: 20px;
}

.ajax-loader {
	margin: 40px;
}

.progress-bar{
	background-color: rgba(141, 35, 74, 0.77);
}

.text-danger,.text-danger, .text-danger:hover {
	color: #8D234A;
}

a.text-danger:hover{
	color: #8D234A;	
}

.form-control:focus{
	border-color: #A27EA7;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px #D2C7D3;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px #D2C7D3;
}

.has-error .form-control:focus {
	border-color: #8D234A;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #B75E7F;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #B75E7F;
}

.has-error .form-control, .has-error .form-control:focus {
	border: 1px solid #8D234A;
}

.btn-success{
	color: #FFF;
	background-color: #40236E;
	border-color: #22064E;
}

.btn-success:hover,
.btn-success:focus, 
.btn-group.open .dropdown-toggle.btn-success{
	background-color: #685090;
	border-color: #40236E;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active{
	background-color: #685090;
	border-color: #40236E;
}

.btn-primary {
	background-color: rgb(97, 28, 106);
	border-color: rgb(66, 1, 76);
}

.btn-primary:hover, 
.btn-primary:focus, 
.btn-group.open .dropdown-toggle.btn-primary {
	background-color: rgb(130, 72, 138);
	border-color: rgb(97, 28, 106);
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
	background-color: rgb(130, 72, 138);
	border-color: rgb(97, 28, 106);
}

.btn-danger {
	background-color: rgb(141, 35, 74);
	border-color: rgb(100, 0, 37);
}

.btn-danger:hover, 
.btn-danger:focus, 
.btn-group.open .dropdown-toggle.btn-danger {
	background-color: rgb(183, 94, 127);
	border-color: rgb(141, 35, 74);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus{
	background-color: #DDA6BA;
}

.site-wrapper{
	width: 1000px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom: none;
}

.map .site-wrapper {
	width: 1200px;
}

.user-top {
	height: 36px;
}

.user-top .btn-link {
	font-size: 11px;
}

.main {
	margin-top: 15px;
	min-height: 400px;
}

.site-desc .jumbotron {
	background: url(../image/syria.png) no-repeat center left;
	background-size: 300px;
	background-color: rgb(252, 252, 252);
}

.menu {
	background-color: #9586AD;
}
.menu .nav>li>a{
	color: #fff;
}
.menu .nav>li>a:hover, .menu .nav>li>a:focus{
	background: none;
	color: #ddd;
}

.featured-projects .list-group-item:first-child,
.featured-projects .list-group-item:last-child{
	border-radius: 0;
}

.featured-projects .list-group-item {
	border: 0;
	border-bottom: 2px solid #ccc;
}

.featured-projects a.list-group-item.active,
.featured-projects a.list-group-item.active:hover, 
.featured-projects a.list-group-item.active:focus{
	background-color: #8D234A;
	border-color: #8D234A;
}

.featured-projects a.list-group-item.active:after, 
.featured-projects a.list-group-item.active:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.featured-projects a.list-group-item.active:after {
	border-color: rgba(141, 35, 74, 0);
	border-right-color: #8D234A;
	border-width: 8px;
	margin-top: -8px;
}

.featured-projects a.list-group-item.active:before {
	border-color: rgba(141, 35, 74, 0);
	border-right-color: #8D234A;
	border-width: 9px;
	margin-top: -9px;
}

.search-box {
	background-color: rgb(248, 248, 248);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-left: 1px solid #ccc;
	min-height: 450px;
}

.search-box:after, .search-box:before {
	right: 100%;
	top: 15%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.search-box:after {
	border-color: rgba(248, 248, 248, 0);
	border-right-color: #F8F8F8;
	border-width: 12px;
	margin-top: -12px;
}
.search-box:before {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #ccc;
	border-width: 13px;
	margin-top: -13px;
}

.map-holder{
	height: 550px;
	position: relative;
}
.map-holder #map-canvas {
	z-index: 10;
	width: 100%;
	height: 92%;
}
.map-holder .search-loader{
	position: absolute;
	padding: 3px 10px;
	background-color: #fff;
	top: 32px;
	left: 101px;
	z-index: 11;
	border-radius: 2px;
	box-shadow: 0px 1px 3px;
}
.property-list, .property-info {
	border-right: 1px solid #ccc;
}
.property-list .property-item{
	background-color: #F8F8F8;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.property-list .property-item .btn-edit,
.property-list .property-item .btn-delete{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.property-list .property-item .btn-delete {
	left: 90px;
}

.property-list .property-item .date-added{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	padding: 6px;
	font-size: 11px;
	color: #aaa;
	border-bottom-right-radius: 8px;
}

.property-list .featured,
.property-list .active,
.property-list .unactive {
	font-size: 14px;
	cursor: pointer;
}
.property-list .featured{
	color: #E8F54F;
}
.property-list .active{
	color: #0A7F32;
}
.property-list .unactive{
	color: #AE2F0E;
}

.property-info .tab-pane{
	margin-top: 10px;
}

.property-info .images-list .thumbnail{
	position: relative;
}
.property-info .images-list .thumbnail > img{
	height: 147px;
}
.property-info .images-list .thumbnail .tools-btn{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 17px;
	cursor: pointer;
}

.property-view .page-header h4, .property-view .page-header h3{
	color: #611C6A;
}
.property-view .price {
	color: #640025;
}
.property-view .dl-horizontal dd{
	margin-right: 140px;
	margin-bottom: 10px;
}
.property-view .dl-horizontal dt{
	width: 120px;
}

.property-view .image-viewer .thumb{
	height: 100%;
	padding: 0 7px;
	margin-bottom: 9px;
}
.media:first-child{
	margin-top: 15px;
}
.carousel-indicators{
	margin-right: -35%;
}